/*Estilos del html */
/*Estilo del encabezado */
body{
    background-color: rgb(209, 209, 209);
    margin: 0;
}
header{
    background-color: white;
    padding: 10px;
}
header h1 {
    margin: 0;
}
/*Estilo de todas las cajas */

div.post{
    background-color: white;
    margin-top: 10px;
}
div.post img{
    width: 100%;
}
div.post div.post-header div:first-child{
    display:inline-block;
    width: 80%;
    
}
div.post div.post-header div:last-child{
    display:inline-block;
    width: 18%;
    text-align: right;
    color: gray;
    
}
div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div .container{
    width: 600px;
    margin: auto;
}